@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSansCJKkr-Regular');
    src: url(NotoSansCJKkr-Regular.ef7dfe10.otf);  
}

body{
    font-family: 'Noto Sans';
}
a{
    text-decoration: none;
    color:initial; /*TODO 색상변경 필요*/
}

.wrap{
    width: 60rem;
    margin: 0 auto;
}

header{
    padding:0.5rem 0;
    border-bottom: 2px solid rgb(153, 51, 139);
}

/* .router-link-active{
    color: blueviolet;
} */

.router-link-exact-active{
    color:rgb(194, 32, 132);
}
